PROYECTO INDIVIDUAL 01 - DATA 05 - /USUARIO614

IMPORTACIÓN DE LIBRERÍAS

In [1053]:
import pandas as pd
import numpy as np
import json

IMPORTACIÓN DE ARCHIVOS (EXTRACT)

In [1054]:
# Creamos un df para cada directorio donde se encuentran los archivos que constituyen nuestra tabla de hechos

amazon = pd.read_csv(r'C:\Users\jotad\OneDrive\Documentos\Sebastian\PI05\PI01_DATA05\Datasets\amazon_prime_titles.csv', index_col=[])
disney  = pd.read_csv(r'C:\Users\jotad\OneDrive\Documentos\Sebastian\PI05\PI01_DATA05\Datasets\disney_plus_titles.csv', index_col=[])
hulu = pd.read_csv(r'C:\Users\jotad\OneDrive\Documentos\Sebastian\PI05\PI01_DATA05\Datasets\hulu_titles.csv', index_col=[])

DEBEMOS CAMBIAR EL FORMATO DEL ARCHIVO NETFLIX.JSON A UN ARCHIVO CSV

In [1055]:
with open(r'C:\Users\jotad\OneDrive\Documentos\Sebastian\PI05\PI01_DATA05\Datasets\netflix_titles.json', encoding='utf-8') as inputfile:
    netflix = pd.read_json(inputfile)

netflix.to_csv('netflix.csv', encoding='utf-8', index=False)

TRANSFORMACIÓN

Procedemos a eliminar aquellas columnas que no voy a utilizar para la tabla AMAZON

In [1056]:
amazon.drop(columns=['director','country','date_added', 'rating'], inplace=True)

In [1057]:
#Veamos cómo quedó la tabla AMAZON

amazon.head(3)

,show_id,type,title,cast,release_year,duration,listed_in,description
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [1058]:
#Vemos si hay valores faltantes/nulos

amazon.isna().sum()

show_id            0
type               0
title              0
cast            1233
release_year       0
duration           0
listed_in          0
description        0
dtype: int64

Consideramos que eliminar los valores faltantes/nulos sería lo más correcto, ya que reemplazar por la moda podría darnos resultados erróneos

In [1059]:
amazon = amazon.dropna()

In [1060]:
#Chequeamos que no hayan quedado valores nulos

amazon.isna().sum()

show_id         0
type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
description     0
dtype: int64

In [1061]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8435 entries, 0 to 9667
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8435 non-null   object
 1   type          8435 non-null   object
 2   title         8435 non-null   object
 3   cast          8435 non-null   object
 4   release_year  8435 non-null   int64
 5   duration      8435 non-null   object
 6   listed_in     8435 non-null   object
 7   description   8435 non-null   object
dtypes: int64(1), object(7)
memory usage: 593.1+ KB

In [1062]:
amazon.head(3)

,show_id,type,title,cast,release_year,duration,listed_in,description
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

Agregamos la columna 'PLATAFORMA' para identificar a qué plataforma pertenece cada dato

In [1063]:
amazon["plataforma"] = 'amazon'
amazon

,show_id,type,title,cast,release_year,duration,listed_in,description,plataforma
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,s4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,s5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon
...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,"Leo Gorcey, Bobby Jordan",1940,60 min,Comedy,New York City street principles get an East Si...,amazon
9664,s9665,TV Show,Planet Patrol,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",2018,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",amazon
9665,s9666,Movie,Outpost,"Ray Stevenson, Julian Wadham, Richard Brake, M...",2008,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",amazon
9666,s9667,TV Show,Maradona: Blessed Dream,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",2021,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",amazon
9667,s9668,Movie,Harry Brown,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",2010,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",amazon

Visualizamos la tabla DISNEY

In [1064]:
disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

Procedemos a la eliminación de las columnas que no utilizaremos de la tabla DISNEY

In [1065]:
disney.drop(columns=['director','country','date_added', 'rating'], inplace=True)

In [1066]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   cast          1260 non-null   object
 4   release_year  1450 non-null   int64
 5   duration      1450 non-null   object
 6   listed_in     1450 non-null   object
 7   description   1450 non-null   object
dtypes: int64(1), object(7)
memory usage: 90.8+ KB

In [1067]:
#Chequeamos los valores faltantes/nulos y los eliminamos

disney.isna().sum()

show_id           0
type              0
title             0
cast            190
release_year      0
duration          0
listed_in         0
description       0
dtype: int64

In [1068]:
#Eliminamos valores nulos

disney = disney.dropna()

In [1069]:
#Chequeamos que no hayan quedado valores nulos

disney.isna().sum()

show_id         0
type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
description     0
dtype: int64

Agregamos la columna DISNEY para identificar a qué plataforma pertenece cada dato

In [1070]:
disney["plataforma"] = 'disney'

In [1071]:
#Visualizamos cómo nos quedó la tabla DISNEY

disney.head(3)

,show_id,type,title,cast,release_year,duration,listed_in,description,plataforma
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Chris Diamantopoulos, Tony Anselmo, Tress MacN...",2016,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,disney
1,s2,Movie,Ernest Saves Christmas,"Jim Varney, Noelle Parker, Douglas Seale",1988,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,disney
2,s3,Movie,Ice Age: A Mammoth Christmas,"Raymond Albert Romano, John Leguizamo, Denis L...",2011,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,disney

Visualizamos la tabla HULU

In [1072]:
hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

Procedemos a eliminar columnas que no utilizaremos de la tabla HULU

In [1073]:
#En este caso consideramos eliminar la columna 'cast' ya que todos sus valores son nulos

hulu.drop(columns=['director','country','date_added', 'rating'], inplace=True)

In [1074]:
#Chequeamos si quedan valores nulos

hulu.isna().sum()

show_id            0
type               0
title              0
cast            3073
release_year       0
duration         479
listed_in          0
description        4
dtype: int64

In [1075]:
#Rellenamos la columna 'cast' de hulu con 'No data for Hulu' ya que esa columna no posee ningun dato

hulu['cast'] = hulu['cast'].fillna('No data for Hulu')

In [1076]:
#Elimino los 4 registros faltantes de la columna 'descripcion' y los faltantes/nulos de 'duration

hulu = hulu.dropna()

In [1077]:
hulu.isna().sum()

show_id         0
type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
description     0
dtype: int64

Agregamos la columna HULU que nos permite identificar a qué plataforma pertenece cada dato

In [1078]:
hulu["plataforma"] = 'hulu'

In [1079]:
#Visualizamos cómo quedó la tabla HULU

hulu.head(3)

,show_id,type,title,cast,release_year,duration,listed_in,description,plataforma
1,s2,Movie,Silent Night,No data for Hulu,2020,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hulu
2,s3,Movie,The Marksman,No data for Hulu,2021,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hulu
3,s4,Movie,Gaia,No data for Hulu,2021,97 min,Horror,A forest ranger and two survivalists with a cu...,hulu

Procedemos a eliminar las columnas que no utilizaremos de la tabla NETFLIX

In [1080]:
netflix.drop(columns=['director','country','date_added', 'rating'], inplace=True)

In [1081]:
#Verificamos si tenemos valores nulos

netflix.isna().sum()

show_id           0
type              0
title             0
cast            825
release_year      0
duration          3
listed_in         0
description       0
dtype: int64

In [1082]:
netflix['cast'] = netflix['cast'].fillna('No data for Netflix')

In [1083]:
#Los eliminamos

netflix = netflix.dropna()

In [1084]:
#Volvemos a verificar la no existencia de valores nulos

netflix.isna().sum()

show_id         0
type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
description     0
dtype: int64

In [1085]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8804 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8804 non-null   object
 1   type          8804 non-null   object
 2   title         8804 non-null   object
 3   cast          8804 non-null   object
 4   release_year  8804 non-null   int64
 5   duration      8804 non-null   object
 6   listed_in     8804 non-null   object
 7   description   8804 non-null   object
dtypes: int64(1), object(7)
memory usage: 619.0+ KB

Agregamos la columna NETFLIX que nos permite identificar a qué plataforma pertenece cada dato

In [1086]:
netflix["plataforma"] = 'netflix'

In [1087]:
#Visualizamos cómo nos quedó finalmente la tabla NETFLIX

netflix.head(3)

,show_id,type,title,cast,release_year,duration,listed_in,description,plataforma
0,s1,Movie,Dick Johnson Is Dead,No data for Netflix,2020,90 min,Documentaries,"As her father nears the end of his life, filmm...",netflix
1,s2,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix
2,s3,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix

Una vez que las tablas están listas, procedemos a concatenarlas

In [1088]:
plataformas = pd.concat([amazon, disney, hulu, netflix], axis=0)

Una vez concatenada, volvemos a chequear valores nulos

In [1089]:
plataformas.isna().sum()

show_id         0
type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
description     0
plataforma      0
dtype: int64

Dividimos la columna 'duration'

In [1090]:
div = plataformas['duration'].str.split(" ", n = 1, expand = True) 
  
plataformas['duration']= div[0] 
plataformas['time_unit']= div[1]

In [1091]:
plataformas = plataformas.astype({"duration": int})

In [1092]:
#Ordenamos las columnas

plataformas = plataformas[['show_id','type','title','cast','release_year','duration', 'time_unit', 'listed_in', 'description', 'plataforma']]

Chequeamos cómo quedó

In [1093]:
plataformas

,show_id,type,title,cast,release_year,duration,time_unit,listed_in,description,plataforma
0,s1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113,min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,s2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110,min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,s3,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74,min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,s4,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69,min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,s5,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45,min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon
...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,158,min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix
8803,s8804,TV Show,Zombie Dumb,No data for Netflix,2018,2,Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix
8804,s8805,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,88,min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix
8805,s8806,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,88,min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix
8806,s8807,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,111,min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix

In [1094]:
plataformas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21092 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       21092 non-null  object
 1   type          21092 non-null  object
 2   title         21092 non-null  object
 3   cast          21092 non-null  object
 4   release_year  21092 non-null  int64
 5   duration      21092 non-null  int32
 6   time_unit     21092 non-null  object
 7   listed_in     21092 non-null  object
 8   description   21092 non-null  object
 9   plataforma    21092 non-null  object
dtypes: int32(1), int64(1), object(8)
memory usage: 1.7+ MB

In [1095]:
csv_output = (r"C:\Users\jotad\Desktop\tp\PI-DS05\plataformas.csv")
plataformas.to_csv(csv_output, index= False)